body {
        background-color: rgb(247, 247, 247);
        font-family: sans, Arial, sans-serif;
        }
        .a {
        font-size: 1em;
        line-height: 1.55;
        max-width: 600px;
        padding-top: 10px;
        width: 100%;
        }
        img{
        width: 70px;
        height: auto
        }
        .c {
        background-color:#d45500;
        width:90%;
        }
        .d {
        width:100%;
        background-color:rgb(247, 247, 247);
        position: fixed;
        bottom: 0px;
        }
